.KTB {
  background-color: #1BA4E1;
}

.GSB {
  background-color: #D5116E;
}

.CS {
  background-color: #FC5F20;
}

.KTC {
  background-color: #DB8E69;
}

.FREE {
  background-color: #93E137;
}

.invalid-feedback {
  display: block;
}

.valid-feedback {
  display: block;
}

.fa-ban {
  color: #ddd;
  cursor: pointer;
  font-size: 20px;
}

.fa-ban:hover {
  color: #FC5C5F;
  text-shadow: 0.5px 0.5px 0.5px red;
  -webkit-transition: all 0.5s; /* Safari */
   transition: all 0.5s;
}
