<div *ngIf="student" class="py-2">
  <div class="d-flex justify-content-between">
    <p><span class="font-weight-bold">ชื่อ-สกุล: </span>{{student.firstname}} {{student.lastname}}
      <i *ngIf="loading" class="fa fa-spin fa-spinner fa-fw pl-2"></i>
    </p>
    <div class="d-flex">
      <p class="pl-2" data-toggle="modal" data-target="#exampleModal"><i *ngIf="student.orders.length == 0" class="fa fa-ban"></i></p>
      <p class="text-primary pl-2" style="cursor:pointer" (click)="canEdit = !canEdit" *ngIf="authService.isAdmin()">{{canEdit? 'ซ่อน':'แก้'}}</p>
    </div>
  </div>
  <p *ngIf="authService.isAdmin()"><span class="font-weight-bold">สร้างโดย: </span>{{branchArray[student.createdBy]}}</p>

  <div *ngIf="canEdit">
    <h6 class="font-weight-bold">แก้ไขชื่อเด็ก</h6>
      <div class="form-group">
        <input type="text" name="firstname" class="form-control"
        placeholder="ชื่อ" [(ngModel)]="ngStudent.firstname">
      </div>

      <div class="form-group">
        <input type="text" name="lastname" class="form-control"
        placeholder="สกุล" [(ngModel)]="ngStudent.lastname">
      </div>

      <div class="form-group text-right">
          <button (click)="onEditStudent()" [disabled]="!ngStudent.firstname || !ngStudent.lastname" class="btn btn-primary">Edit</button>
      </div>
  </div>

  <div class="form my-2">
    <h6 class="font-weight-bold">เพิ่มรายการโอน</h6>
    <!-- <div class="d-flex justify-content-between">
      <div>
        <p class="text-primary" style="cursor:pointer" (click)="prepopulate = !prepopulate">เพิ่มจาก slip เก่า<p>
      </div>

    </div>
    <form #f2="ngForm" *ngIf="prepopulate">
      <div class="form-group">
        <input class="form-control" placeholder="id ของ slip เก่า" required #id="ngModel" ngModel type="text" name="id" autocomplete="off">
      </div>
      <div class="form-group text-right">
        <button (click)="onCopySlip(f2); f2.reset()" [disabled]="!f2.form.valid" class="btn btn-primary">Add</button>
      </div>
    </form> -->
    <form #f="ngForm" *ngIf="!prepopulate">
      <div [hidden]="loading">
        <div class="form-group">
          <select (change)="updateForm($event)" #selectMode class="form-control" id="">
            <option value="">เลือกรูปแบบการชำระเงิน</option>
            <option value="3">Counter Service</option>
            <option value="1">กรุงไทย KTB</option>
            <option value="2">ออมสิน GSB</option>
            <option value="4">บัตร KTC</option>
            <option value="5">Gift Voucher ฟรี</option>
          </select>
        </div>

        <div *ngIf="type">
          <div class="form-group" *ngIf="type == 1 || type == 2">
            <input type="text" minlength="10" maxlength="10" name="code" class="form-control"
            placeholder="confirmation code" ngModel required #code="ngModel" autocomplete="off"
            [class.is-invalid]="!code.valid && code.touched || code.valid && code.touched && !validate(type, code.value)">
            <span class="invalid-feedback" *ngIf="!code.valid && code.touched || code.valid && code.touched && !validate(type, code.value)">
              *โปรดใส่ confirmation code ที่ถูกต้อง (เบอร์โทรศัพท์ 10 หลัก)
            </span>
          </div>
          <div class="form-group" *ngIf="type == 3">
            <input type="text" minlength="10" maxlength="10" name="code" class="form-control"
            placeholder="confirmation code" ngModel required #code="ngModel" autocomplete="off"
            [class.is-invalid]="!code.valid && code.touched || code.valid && code.touched && !validate(type, code.value)">
            <span class="invalid-feedback" *ngIf="!code.valid && code.touched || code.valid && code.touched && !validate(type, code.value)">
              *โปรดใส่ confirmation code ที่ถูกต้อง (ตัวเลข 10 หลัก)
            </span>
          </div>
          <div class="form-group" *ngIf="type == 4">
            <input type="text" minlength="6" maxlength="7" name="code" class="form-control"
            placeholder="confirmation code" ngModel required #code="ngModel" autocomplete="off"
            [class.is-invalid]="!code.valid && code.touched || code.valid && code.touched && !validate(type, code.value)">
            <span class="invalid-feedback" *ngIf="!code.valid && code.touched || code.valid && code.touched && !validate(type, code.value)">
              *โปรดใส่ confirmation code ที่ถูกต้อง (เบอร์โอน 6 หรือ 7 หลัก)
            </span>
          </div>

          <div class="form-group">
            <select name="group" (change)="onSelectGroup()" *ngIf="groups.length !== 0" [(ngModel)]="group" class="form-control">
              <option value="0">เลือกรหัสคอร์ส</option>
              <option *ngFor="let group of groups" value="{{group._id}}">{{group.code}} - {{group.title}}</option>
            </select>
          </div>

          <div class="form-group">
            <select name="course" (change)="onSelectCourse()" *ngIf="courses.length !== 0" [(ngModel)]="course" class="form-control">
              <option value="0">เลือกคอร์ส</option>
              <option *ngFor="let course of courses" value="{{course._id}}">{{course.title}}</option>
            </select>
          </div>

          <div class="form-group" *ngIf="type && group != 0 && course != 0 && books.length >= 1 && getCourse(course)">
            <p>โปรดเลือกหนังสือ {{getCourse(course).numBook}} รายการ {{getCourse(course).strict? '':'หรือน้อยกว่า (ขึ้นกับคอร์สเรียนที่น้องสมัคร)'}}</p>
            <div *ngFor="let book of books">
              <input (change)="onSelectBooks($event)" type="checkbox" [checked]="getCourse(course).strict && check(book._id)" value="{{book._id}}"
              [disabled]="selectedBooks.length >= getCourse(course).numBook">
              {{book.title}}
            </div>
          </div>

          <label style="font-size: 15px;" class="pt-2">โปรดใส่วันที่โอน: </label>
          <div class="form-group">
            <my-date-picker [placeholder]="placeholder" [options]="myDatePickerOptions"
                          (dateChanged)="onDateChanged($event)" required>
            </my-date-picker>
            <!-- <span class="invalid-feedback" *ngIf="!date.valid && date.touched">
              *โปรดใส่วันที่การโอน
            </span> -->
          </div>
        </div>


        <div class="form-group text-right">
            <button (click)="onAddCourse(f); f.reset()" [disabled]="!f.form.valid && type != 5 || !canAdd() || !validate(type, f.value.code)" class="btn btn-primary">Add</button>
        </div>
        <span class="invalid-feedback" *ngIf="errMessage">
          *{{errMessage}}
        </span>
        <span class="invalid-feedback text-success" *ngIf="successMessage">
          *{{successMessage}}
        </span>

      </div>
    </form>
  </div>

  <p><span class="font-weight-bold">สรุปรายการโอน ({{student.orders.length}}):</span></p>
    <div class="card my-2" *ngFor="let order of student.orders">
      <div id="o{{order._id}}" style="cursor:pointer" routerLink="{{authService.isAdmin()? '/orders/'+ order._id + '/edit': '/students/' + student._id}}" class="card-header {{types[order.type-1]}}">
        <h5 class="my-0 text-white">{{types[order.type-1]}}</h5>
      </div>
      <div class="card-body">
        <p><span class="font-weight-bold" *ngIf="order.code">Code:</span> {{order.code}}</p>
        <p><span class="font-weight-bold">วันที่โอน (วัน-เดือน-ปี):</span> {{getDate(order.date)}}</p>
        <p><span class="font-weight-bold">รหัสคอร์ส:</span> {{order.courseCode}}</p>
        <p><span class="font-weight-bold">ราคา:</span> {{order.price}} บาท</p>
        <p><span class="font-weight-bold">เคลม: <i class="fa {{order.claimed? 'fa-check text-success':'fa-times text-danger'}}"></i></span>
        <hr>
        <p><span class="font-weight-bold">สาขา: </span> {{branchArray[order.branch]}}</p>
        <p *ngIf="order.course"><span class="font-weight-bold">คอร์ส: </span> {{order.course.title}}</p>
        <p *ngIf="order.course">
          <span class="font-weight-bold">หนังสือที่ออก:</span>
          <li *ngFor="let book of order.books">{{book.title}}</li>
        </p>
        <p *ngIf="!order.course">
          <span class="font-weight-bold">หนังสือที่ออก:</span> ไม่มี
        </p>
      </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">คุณแน่ใจว่าต้องการลบเด็กคนนี้</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="onDeleteStudent()">Yes</button>
      </div>
    </div>
  </div>
</div>
