<div *ngIf="student" class="py-2">
  <p><span class="font-weight-bold">ชื่อ-สกุล: </span>{{student.firstname}} {{student.lastname}}</p>

  <div class="form my-2">
    <h6 class="font-weight-bold">เพิ่มรายการโอน</h6>
    <form #f="ngForm">

        <div class="form-group">
          <select (change)="updateForm($event)" #selectMode class="form-control" id="">
            <option value="">เลือกรูปแบบการชำระเงิน</option>
            <option value="3">Counter Service</option>
            <option value="1">กรุงไทย KTB</option>
            <option value="2">ออมสิน GSB</option>
          </select>
        </div>


        <div *ngIf="type">
          <div class="form-group">
            <input type="text" name="code" class="form-control"
            placeholder="confirmation code" ngModel required #code="ngModel"
            [class.is-invalid]="!code.valid && code.touched">
            <span class="invalid-feedback" *ngIf="!code.valid && code.touched">
              *โปรดใส่ confirmation code
            </span>
          </div>

          <div class="form-group">
            <select name="course" (change)="onSelectCourse()" *ngIf="courses.length !== 0" [(ngModel)]="course" class="form-control">
              <option value="0">เลือกรหัสคอร์ส</option>
              <option *ngFor="let course of courses" value="{{course._id}}">{{course.code}} - {{course.title}}</option>
            </select>
          </div>

          <!-- <div class="form-group">
            <input type="number" name="price" class="form-control"
            placeholder="ราคาคอร์ส" [(ngModel)]="price">
            <span class="invalid-feedback" *ngIf="!price">
              *โปรดใส่ราคาคอร์ส
            </span>
          </div> -->

          <div class="form-group" *ngIf="type && course && books.length >= 1">
            <p>โปรดเลือกหนังสือ {{getCourse(course).numBook}} รายการ</p>
            <div *ngFor="let book of books">
              <input (change)="onSelectBooks($event)" type="checkbox" value="{{book._id}}"
              [disabled]="selectedBooks.length >= getCourse(course).numBook && !cancel">
              {{book.title}}
            </div>
            <!-- <button (click)="cancel = !cancel; input.checked = false" class="btn btn-sm btn-light">ยกเลิก</button> -->
          </div>

          <div class="form-group">
            <my-date-picker [placeholder]="placeholder" [options]="myDatePickerOptions"
                          (dateChanged)="onDateChanged($event)" required>
            </my-date-picker>
            <!-- <span class="invalid-feedback" *ngIf="!date.valid && date.touched">
              *โปรดใส่วันที่การโอน
            </span> -->
          </div>
        </div>


        <div class="form-group text-right">
            <button (click)="onAddCourse(f); f.reset()" [disabled]="!f.form.valid || (type != 1 && type != 2 && type != 3)
            || !date || !course || selectedBooks.length !== getCourse(course).numBook" class="btn btn-primary">Add</button>
        </div>
        <span class="invalid-feedback" *ngIf="errMessage">
          *{{errMessage}}
        </span>
        <span class="invalid-feedback text-success" *ngIf="successMessage">
          *{{successMessage}}
        </span>
    </form>
  </div>

  <p><span class="font-weight-bold">สรุปรายการโอน ({{student.orders.length}}):</span></p>
    <div class="card my-2" *ngFor="let order of student.orders">
      <div style="cursor:pointer" routerLink="{{authService.isAdmin()? '/orders/'+ order._id + '/edit': '/students/' + student._id}}" class="card-header {{types[order.type-1]}}">
        <h5 class="my-0 text-white">{{types[order.type-1]}}</h5>
      </div>
      <div class="card-body">
        <p><span class="font-weight-bold">Code:</span> {{order.code}}</p>
        <p><span class="font-weight-bold">วันที่ (วัน-เดือน-ปี):</span> {{getDate(order.date)}}</p>
        <p><span class="font-weight-bold">รหัสคอร์ส:</span> {{order.courseCode}}</p>
        <p><span class="font-weight-bold">ราคา:</span> {{order.price}}</p>
        <p><span class="font-weight-bold">เคลม: <i class="fa {{order.claimed? 'fa-check text-success':'fa-times text-danger'}}"></i></span>
      </div>
    </div>
</div>
