<div class="container my-4">
  <label>All Users</label>
  <!-- <div *ngFor="let course of courses">
    <p><span class="font-weight-bold bootstrap">{{course.title}}</span> - {{course.price}} บาท
      <i style="cursor:pointer" class="fa fa-wrench text-primary"></i>
      <i style="cursor:pointer" class="fa fa-plus text-primary"></i>
    </p>
    <div *ngFor="let book of course.books">
      <ul class="pl-4"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{book.title}}</ul>
    </div>
  </div> -->
</div>
