<div class="d-flex justify-content-between">
  <h4>Student Page
    <i *ngIf="loading" class="fa fa-spin fa-spinner fa-fw pl-2"></i>
  </h4>
  <i style="cursor:pointer" (click)="search = !search" class="fa fa-search fa-2x"></i>
</div>
<student-search *ngIf="search"></student-search>
<div class="d-flex justify-content-between my-4">
  <h6 class="font-weight-bold">รายชื่อเด็กอัพเดทล่าสุด {{students.length}} คน (จาก {{count}} คน ในฐานข้อมูล)</h6>
  <div>
    <div class="form-group d-flex">
      <!-- <label><i class="fa fa-bolt CS"></i> = เด็กใหม่ | </label> -->
      <select *ngIf="authService.isAdmin()" (change)="getStudents()" class="form-control" [(ngModel)]="branch">
        <option value="0">ทุกสาขา</option>
        <option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]" value="{{number}}">{{branchArray[number]}}</option>
      </select>
      <select class="form-control" (change)="selectFilter($event)" id="">
        <option value="">เลือกจำนวนผลลัพธ์</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
        <option value="2000">2000</option>
      </select>
    </div>
  </div>
</div>
<div class="container" *ngIf="students.length !== 0">
  <table class="table my-2 text-center">
    <thead class="thead">
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">ชื่อ-สกุล</th>
        <th colspan="7">รายการล่าสุด</th>
      </tr>
      <tr>
        <td>รูปแบบ</td>
        <td>รหัสสลิป</td>
        <td>รหัสคอร์ส</td>
        <td>ราคาคอร์ส</td>
        <td>สาขา</td>
        <td>match กับระบบ</td>
        <td>เวลาอัพเดทล่าสุด</td>
      </tr>
    </thead>
    <tr *ngFor="let student of students; let i = index">
      <td class="font-weight-bold">{{i + 1}} <sup><i *ngIf="!student.lastOrder" class="fa fa-bolt CS"></i></sup></td>
      <a routerLink="/students/{{student._id}}"><td>{{student.firstname}} {{student.lastname}}</td></a>
      <ng-template [ngIf]="student.lastOrder">
        <td class="font-weight-bold {{types[student.lastOrder.type-1]}}">{{types[student.lastOrder.type-1]}}</td>
        <td>{{student.lastOrder.code? student.lastOrder.code:'-'}}</td>
        <td>{{student.lastOrder.courseCode? student.lastOrder.courseCode: '-'}}</td>
        <td>{{student.lastOrder.price}}</td>
        <td>{{branchArray[student.lastOrder.branch]}}</td>
        <td>
          <i class="fa {{student.lastOrder.claimed? 'fa-check text-success':'fa-times text-danger'}}"></i>
        </td>
        <td>
          {{getDate(student.updatedAt)}}
        </td>
      </ng-template>
      <ng-template [ngIf]="!student.lastOrder">
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>
          {{getDate(student.updatedAt)}}
        </td>
      </ng-template>
    </tr>
  </table>

</div>
