<div class="form my-5">
  <h6 class="font-weight-bold">ค้นหาเด็ก</h6>
  <div class="form-group">
    <input type="text" name="query" class="form-control"
    placeholder="ชื่อ หรือ นามสกุล" ngModel #query="ngModel">
  </div>
  <div class="form-group text-right">
    <button (click)="search(query.value)" [disabled]="query.value == ''" class="btn btn-primary">Search</button>
  </div>
  <div *ngIf="searchResults.length !== 0">
    <ul>
      <li *ngFor="let result of searchResults">
        <a routerLink="/students/{{result._id}}">{{result.firstname}} {{result.lastname}}</a>
      </li>
    </ul>
  </div>
  <span class="invalid-feedback" *ngIf="errorMessage2">
    *{{errorMessage2}}
  </span>
</div>
