<h3>Edit Order</h3>
<div class="form my-2">
  <div *ngIf="order" class="py-2">
    <div class="d-flex justify-content-between">
      <p class="{{types[order.type-1]}}"><span class="font-weight-bold">Code {{types[order.type-1]}}:</span> {{order.code}} <i class="fa fa-tag" *ngIf="!order.createdByServer"></i> {{order.void? '(เสีย)' : ''}}</p>
      <p data-toggle="modal" data-target="#exampleModal"><i *ngIf="canEdit" class="fa fa-ban"></i></p>
      <!-- <p (click)="onDelete()">DeleteSlip</p> -->
    </div>
    <p *ngIf="order.claimedBy"><span class="font-weight-bold">ชื่อ-สกุล: </span><a routerLink="/students/{{order.claimedBy._id}}">{{order.claimedBy.firstname}} {{order.claimedBy.lastname}}</a></p>
    <p><span class="font-weight-bold">วันที่ (วัน-เดือน-ปี):</span> {{getDate(order.date)}}</p>
    <p><span class="font-weight-bold">รหัสคอร์ส:</span> {{order.courseCode}}</p>
    <p><span class="font-weight-bold">ราคา:</span> {{order.price}}</p>
    <p><span class="font-weight-bold">สาขา: </span> {{branchArray[order.branch]}}</p>
    <p><span class="font-weight-bold">เคลม:</span>
      <i (click)="claim(order.type, order.createdByServer)" class="fa {{order.claimed? 'fa-check text-success':'fa-times text-danger'}} {{order.type == 4 && !order.createdByServer? 'claimed': ''}}"></i>
    </p>
    <span class="invalid-feedback" *ngIf="errorMessage2">
      *{{errorMessage2}}
    </span>
    <div *ngIf="canEdit">
      <div class="text-right">
        <button class="btn btn-primary" (click)="showEdit = !showEdit">{{!showEdit? 'Edit':'Hide'}}</button>
      </div>

      <form #f="ngForm" *ngIf="showEdit">
        <h6>แก้ไขข้อมูลสลิป</h6>
        <div class="form-group">
          <input type="text" name="code" class="form-control"
          placeholder="confirmation code" [(ngModel)]="ngOrder.code">
        </div>

        <div class="form-group">
          <input type="text" name="courseCode" class="form-control"
          placeholder="รหัสคอร์ส" [(ngModel)]="ngOrder.courseCode">
        </div>

        <div class="form-group">
          <input type="number" name="price" class="form-control"
          placeholder="ราคาคอร์ส" [(ngModel)]="ngOrder.price">
        </div>

        <div class="form-group">
          <my-date-picker name="mydate" [options]="myDatePickerOptions"
                        [(ngModel)]="model" required>
          </my-date-picker>
        </div>

          <div class="form-group">
            <select (change)="updateForm($event)" name="type" [(ngModel)]="ngOrder.type" class="form-control" id="">
              <option value="3">Counter Service</option>
              <option value="1">กรุงไทย KTB</option>
              <option value="2">ออมสิน GSB</option>
              <option value="4">บัตร KTC</option>
            </select>
          </div>

          <div class="form-group text-right">
              <button (click)="onEditOrder(f)" [disabled]="!f.form.valid || resultingOrder" class="btn btn-primary">Edit</button>
          </div>
          <span class="invalid-feedback" *ngIf="errorMessage1">
            *{{errorMessage1}}
          </span>
          <span class="invalid-feedback text-success" *ngIf="successMessage">
            *{{successMessage}}
          </span>
      </form>
    </div>
    <div *ngIf="order.group">
      <hr>
      <!-- <p class="font-weight-bold">รายละเอียดการสมัคร</p> -->
      <p><span class="font-weight-bold" *ngIf="!!order.course">คอร์ส:</span> {{order.course? order.course.title: ''}}</p>
      <p><span class="font-weight-bold" *ngIf="!!order.course">หนังสือ:</span>
        <li *ngFor="let book of order.books">{{book.title}}</li>
        <li *ngIf="order.books.length === 0">คอร์สนี้ไม่มีหนังสือ</li>
      </p>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">คุณแน่ใจว่าต้องการวอย สลิปใบนี้</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="onVoidOrder()">Yes</button>
      </div>
    </div>
  </div>
</div>
