<div class="d-flex justify-content-between">
  <h4>Slip Page
    <i *ngIf="loading" class="fa fa-spin fa-spinner fa-fw pl-2"></i>
  </h4>
  <i style="cursor:pointer" (click)="search = !search" class="fa fa-search fa-2x"></i>
</div>
<order-search *ngIf="search"></order-search>
<div class="container my-4">
  <div class="d-flex justify-content-between">
    <h6 class="font-weight-bold">รายชื่อสลิปอัพเดทล่าสุด (จาก {{count}} สลิป)</h6>
    <div>
      <div class="form-group d-flex">
        <select (change)="getOrders()" class="form-control" [(ngModel)]="type">
          <option *ngFor="let type of typeOptions; let i = index" value="{{i}}">{{type}}</option>
        </select>
        <select (change)="getOrders()" class="form-control" [(ngModel)]="month">
          <option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11]" value="{{number}}">{{months[number]}}</option>
        </select>
        <select (change)="getOrders()" class="form-control" [(ngModel)]="year">
          <option *ngFor="let number of [0,1,2,3,4]" value="{{getYear(number)}}">{{getYear(number)}}</option>
        </select>
        <select (change)="selectFilter($event)" class="form-control" id="">
          <option value="">เลือกจำนวนผลลัพธ์</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
          <option value="2000">2000</option>
          <option value="3000">3000</option>
        </select>
      </div>
    </div>
  </div>
  <div *ngIf="orders.length == 0">ยังไม่มี slip ในระบบในช่วงเวลาที่กำหนด</div>
  <table class="table my-2 text-center" *ngIf="orders.length !== 0">
    <thead class="thead">
      <tr>
        <th rowspan>#</th>
        <td>รูปแบบ</td>
        <td>รหัสสลิป</td>
        <td>รหัสคอร์ส</td>
        <td>ราคาคอร์ส</td>
        <td>วันที่โอน</td>
        <td>สาขา</td>
        <td>match กับระบบ</td>
        <td>เวลาอัพเดทล่าสุด</td>
      </tr>
    </thead>
    <tr *ngFor="let order of orders; let i = index">
      <td class="font-weight-bold">{{i + 1}}</td>
      <td class="font-weight-bold {{types[order.type-1]}}">{{types[order.type-1]}}</td>
      <td><a style="text-decoration: none" routerLink="/orders/{{order._id}}/edit">{{order.code? order.code:'-'}}</a></td>
      <td>{{order.courseCode? order.courseCode: '-'}}</td>
      <td>{{order.price}}</td>
      <td>{{updateDate(order.date)}}</td>
      <td>{{branchArray[order.branch]}}</td>
      <td>
        <i [hidden]="loading" (click)="claim(order.type, order._id, order.createdByServer)" class="fa {{order.claimed? 'fa-check text-success':'fa-times text-danger'}} {{order.type == 4 && !order.createdByServer? 'claimed': ''}}"></i>
      </td>
      <td>
        {{order.claimed? getDate(order.claimedAt): getDate(order.updatedAt)}}
      </td>
    </tr>
  </table>

</div>
