.form {
  width: 75%;
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
}

.invalid-feedback {
  display: block;
}

.valid-feedback {
  display: block;
}

.KTB {
  color: #1BA4E1;
}

.GSB {
  color: #D5116E;
}

.CS {
  color: #FC5F20;
}

.KTC {
  color: #DB8E69;
}

.FREE {
  color: #93E137;
}

.claimed {
  cursor: pointer;
}

.claimed:hover {
  text-shadow: 0.5px 0.5px 0.5px black;
  -webkit-transition: all 0.5s; /* Safari */
   transition: all 0.5s;
}
