<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <!-- <img src="/assets/images/logo.png" width="50" height="50" class="align-center" alt=""> -->
    <span>A.BIG</span> Center
  </a>
  <button *ngIf="authService.isAuthenticated()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <ng-template [ngIf]="authService.isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/home">{{authService.isAdmin()? '':'สาขา'}} {{authService.getBranchString()}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/students">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" *ngIf="authService.isAdmin()" routerLink="/orders">Slips</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" *ngIf="authService.isMaster()" routerLink="/settings">Settings <i class="fa fa-cog"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" style="cursor: pointer" (click)="onLogoutUser()">Logout</a>
          </li>
        </ng-template>
      </ul>
    </form>
  </div>
</nav>
